{% extends 'base.html' %}

{% block meta %}
<title>Tambah Task Baru</title>
{% endblock meta %}

{% block content %}  

<div class = "add_task" style="text-align:center ;">
    
    <h1>Tambah Task Baru</h1>  

        <form method="POST" >  
            {% csrf_token %} 
            <table class="table solid border w-auto" style="text-align:left;margin-right:auto;margin-left:auto;margin-top:25px;">  
                {{ form.as_table }}  
            </table> 
            <td><input class="btn" type="submit" name="submit" value="Tambah Task" style="background-color: hsl(210, 31%, 68%);"/></td>  
        </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div>  

{% endblock content %}