{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<div class = "login" style="text-align:center;">

    <h1>Login</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <table class="table solid border w-auto" style="margin-left:auto;margin-right:auto;margin-top:25px;">
            <tr>
                <td style="vertical-align:middle;">Username: </td>
                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td style="vertical-align:middle;">Password: </td>
                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>
        </table>
        <input class="btn login_btn" style="background-color: hsl(210, 31%, 68%); margin-bottom:20px;" type="submit" value="Login">
    </form>
   
        
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}  
        
    Belum mempunyai akun? <a class="btn" href="{% url 'todolist:register' %}" style="background-color: hsl(210, 31%, 68%);">Buat Akun</a>

</div>

{% endblock content %}