.login {
    margin: 20px;
}

.add_task{
    margin: 20px;
}

.card-deck{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}


.change-status{
    display: inline-block;
}

.delete{
    display: inline-block;
}

footer{
    margin-top: 20px;
    text-align: center;
}   

textarea{
    resize: none;
    width: 250px;
    height: 100px;
}

body{
    background: rgb(174,210,238);
    background: radial-gradient(circle, rgba(174,210,238,1) 0%, rgba(157,179,207,1) 100%);
}

@media (max-width: 600px) {
    .card-deck {
      display: flex;
      flex-direction: column;
    }
}