{% extends 'base.html' %}

 {% block content %}

  <h1>Lab 2 Assignment PBP/PBD</h1>

  <h5>Name: </h5>
  <p>{{nama}}</p>

  <h5>Student ID: </h5>
  <p>{{npm}}</p>

  <table>
    <tr>
      <th>Watched</th>
      <th>Title</th>
      <th>Rating</th>
      <th>Release Date</th>
      <th>Review</th>
    </tr>
    {% comment %} Add the data below this line {% endcomment %}
    {% for judul in list_watchlist %}
    <tr>
        <th>{{judul.watched}}</th>
        <th>{{judul.title}}</th>
        <th>{{judul.rating}}</th>
        <th>{{judul.release_date}}</th>
        <th>{{judul.review}}</th>
    </tr>
    {% endfor %}
  </table>

 {% endblock content %}
